---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}

    {% if page.url == "/" %}
      <div style="
        width: 350px;
        margin: 30px 0 30px 0;
        text-align: left; 
        background: #ffffff;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding: 8px;
        overflow: hidden;
      ">
      <script 
        type="text/javascript" 
        id="clustrmaps" 
        src="//clustrmaps.com/map_v2.js?d=hvc5O1UgPA06p6-UMeOwQ0f3TRcKR9DNeTrErNgDvb8&cl=ffffff&w=a">
      </script>
      <style>
    </div>
  {% endif %}
    
</div>
